{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block statics%}
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" lang="zh">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>查看面试者资料</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../../../static/css/zhb/css/inter_search.css"/>
    <script src={% static '/css/zhb/js/JQuery_1.js' %}></script>
</head>
{% endblock%}

<body>
    <div id="head">
        <img src={% static '/css/zhb/img/logo_blue.svg' %} alt="">
        <span id="ziliao">资料</span>
        <span id="pingjia">评价</span>
    </div>
    <div id="out">
        <img id="out_pic" src={% static '/css/zhb/img/out.svg' %} alt="" onclick="logout()">
        <p id="inter_name">欢迎你,{{ name }}</p>
    </div>
    <div id="mange_inter">
        <!-- 除了学生信息以外的东西 -->
        <div id="inter_head">
            <div id="student_inter">
                <p>学生面试管理</p>
            </div>
            <hr style="margin-top: 27px;">
            <div id="select_data">
                <form id="user_login">
                    {% csrf_token %}
                    <label>
                        <select id="directions" onchange="form_submit()">
                            <option class="def" value="" selected="selected">选择方向</option>
                            <option value="开发">开发</option>
                            <option value="设计">设计</option>
                            <option value="秘书处">秘书处</option>
                        </select>
                        <select id="time" onchange="form_submit()">
                            <option class="def" value="" selected="selected">面试时间</option>
                            <option value="09-27_08:00-10:00">09-27_08:00-10:00</option>
                            <option value="09-27_10:00-12:00">09-27_10:00-12:00</option>
                            <option value="09-27_14:00-16:00">09-27_14:00-16:00</option>
                            <option value="09-27_16:00-18:00">09-27_16:00-18:00</option>
                            <option value="09-27_19:00-21:00">09-27_19:00-21:00</option>

                            <option value="09-28_08:00-10:00">09-28_08:00-10:00</option>
                            <option value="09-28_10:00-12:00">09-28_10:00-12:00</option>
                            <option value="09-28_14:00-16:00">09-28_14:00-16:00</option>
                            <option value="09-28_16:00-18:00">09-28_16:00-18:00</option>
                            <option value="09-28_19:00-21:00">09-28_19:00-21:00</option>

                            <option value="09-29_08:00-10:00">09-29_08:00-10:00</option>
                            <option value="09-29_10:00-12:00">09-29_10:00-12:00</option>
                            <option value="09-29_14:00-16:00">09-29_14:00-16:00</option>
                            <option value="09-29_16:00-18:00">09-29_16:00-18:00</option>
                            <option value="09-29_19:00-21:00">09-29_19:00-21:00</option>

                            <option value="09-30_08:00-10:00">09-30_08:00-10:00</option>
                            <option value="09-30_10:00-12:00">09-30_10:00-12:00</option>
                            <option value="09-30_14:00-16:00">09-30_14:00-16:00</option>
                            <option value="09-30_16:00-18:00">09-30_16:00-18:00</option>
                            <option value="09-30_19:00-21:00">09-30_19:00-21:00</option>

                            <option value="09-31_08:00-10:00">09-31_08:00-10:00</option>
                            <option value="09-31_10:00-12:00">09-31_10:00-12:00</option>
                            <option value="09-31_14:00-16:00">09-31_14:00-16:00</option>
                            <option value="09-31_16:00-18:00">09-31_16:00-18:00</option>
                            <option value="09-31_19:00-21:00">09-31_19:00-21:00</option>

                            <option value="10-01_08:00-10:00">10-01_08:00-10:00</option>
                            <option value="10-01_10:00-12:00">10-01_10:00-12:00</option>
                            <option value="10-01_14:00-16:00">10-01_14:00-16:00</option>
                            <option value="10-01_16:00-18:00">10-01_16:00-18:00</option>
                            <option value="10-01_19:00-21:00">10-01_19:00-21:00</option>

                            <option value="10-02_08:00-10:00">10-02_08:00-10:00</option>
                            <option value="10-02_10:00-12:00">10-02_10:00-12:00</option>
                            <option value="10-02_14:00-16:00">10-02_14:00-16:00</option>
                            <option value="10-02_16:00-18:00">10-02_16:00-18:00</option>
                            <option value="10-02_19:00-21:00">10-02_19:00-21:00</option>
                        </select>
                        <select id="place" onchange="form_submit()">
                            <option class="def" value="" selected="selected">选择地点</option>
                            <option value="云顶">云顶</option>
                            <option value="">xx1楼</option>
                            <option value="">xx2楼</option>
                        </select>
                        <select id="inter_type" onchange="form_submit()">
                            <option class="def" value="" selected="selected">面试类型</option>
                            <option value="">未面试</option>
                            <option value="">面试迟到</option>
                            <option value="">已面试</option>
                        </select>
                        <input type="text" id="student_id" placeholder="请输入学号/姓名" onfocus="this.placeholder='' "
                            onblur="this.placeholder='请输入学号/姓名'" onchange = 'form_submit()'>
                        <!-- <input type="submit" id="submit" value="查询" /> -->
                        <div>
                            <span style="color: #297AFF">{{ number }}</span>
                            <br />
                            <p style="color: rgb(153,153,153) ">已报名人数</p>
                        </div>
                    </label>
                </form>
            </div>
            <hr style="width: 81%; margin-top: 27px;" />
            <div id="choice">
                <div onclick="">修改面试时间</div>
                <div onclick="inter_addfreshman()">添加面试人员</div>
                <div onclick="Interviewed()">查看已面试者</div>
            </div>
            <div id="student_data">
                <div id="student">
                    <iframe id="inner_box" src="inter_search_son/" frameborder="no" name="ifr1" scrolling="yes">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function form_submit(){
            var direction = document.getElementById("directions");
            var place = document.getElementById('place');
            var time = document.getElementById('time');
            var inter_type = document.getElementById('inter_type');
            var student_id = document.getElementById('student_id');
            var csrftoken = getCookie('csrftoken');
            var data = {};
            data['csrfmiddlewaretoken'] = csrftoken;
            data['direction'] = direction.value;
            data['place'] = place.value;
            data['time'] = time.value;
            data['inter_type'] = inter_type.value;
            data['student_id'] =student_id.value;
            document.getElementById("inner_box").contentWindow.update(data);
        }

        function Interviewed(){
            document.getElementById('inner_box').contentWindow.interviewed();
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function logout() {
            var data = {'csrfmiddlewaretoken':getCookie('csrftoken')};
            $.ajax({
            url: "/interview/logout/",
            type: "POST",
            data: data,
            success:function(result){
                {#document.getElementById('td_list').innerHTML = result;#}
                setTimeout("window.location.href = '../login/'", 500);
            },
            error:function(result){
                document.getElementById('td_list').innerHTML = "获取失败";
            }
        })
        }
        /*function updatenumber(number) {
            document.getElementById('number').innerHTML = number;
        }*/
        function change(id){
            window.location.href = '/interview/management/'+id;
        }
        function inter_addfreshman() {
            window.location.href = '../inter_addfreshman';
        }
    </script>
</body>
