{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block statics%}
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" lang="zh">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>登录</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static '/css/zhb/css/inter_login.css' %} />
    <script src={% static '/css/zhb/js/JQuery_1.js' %}></script>
</head>
{% endblock%}

<body>
    <div id="main">
        <div id="left">
            <!--就是个背景图-->
        </div>
        <div id="float">
            <div id="year">
                <p>2019/</p>
            </div>
            <div id="yunding">
                <p>云顶招新</p>
            </div>
            <div id="interviewer">
                <p>面试官</p>
            </div>
            <div id="logo">
            </div>
        </div>
        <div id="right">
            <div id="login">
                <p>登录</p>
                <br />
            </div>
            <form id="user_login">
                {% csrf_token %}
                <input id="input_id" type="test" name="student_id" placeholder="请输入学号" onfocus="this.placeholder=''"
                    onblur="this.placeholder='请输入学号'" />
                <input id="input_password" type="password" name="password" placeholder="请输入密码"
                    onfocus="this.placeholder=''" onblur="this.placeholder='请输入密码'" />
                <br />
                <div id="tip"> </div>
                <input id="submit" type="submit" value="登录" form="userForm" onclick="log_submit()">

            </form>
            <div id="link_register">
                <a onclick="goto_register()">没有账号？去注册 &nbsp;></a>
            </div>
        </div>
        <div id='LOG_IN'>
            <div id="LO">
                <p>LO</p>
            </div>
            <div id="G">
                <p>G</p>
            </div>
            <br />
            <div id="N">
                <p>N</p>
            </div>
            <div id="I">
                <p>I</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function log_submit(){
            var input_id = document.getElementById('input_id').value;
            var input_password = document.getElementById('input_password').value;
            var csrftoken = getCookie('csrftoken');
            var data = {};
            data['csrfmiddlewaretoken'] = csrftoken;
            data['student_id'] = input_id;
            data['password'] = input_password;

            $.ajax({
                url:"/interview/login/",
                type:"POST",
                data:$('#user_login').serialize(),
                //data:data,
                success:function(result){
                    if(result === "密码错误"){
                        tip.innerHTML="密码错误";
                    }
                    else if(result === "学号不存在，请先注册"){
                        tip.innerHTML="学号不存在，请先注册";
                    }
                    else if(result){
                        tip.innerHTML="登录成功";
                        setTimeout("window.location.href = '../management/'", 500);
                    }
                },
                error:function(result){
                    if(result !== "200"){
                        tip.innerHTML='登录失败，请刷新重试';
                    }
                }
            })
        }

        function sleep(numberMillis) {
            var now = new Date();
            var exitTime = now.getTime() + numberMillis;
            while (true) {
                now = new Date();
                if (now.getTime() > exitTime)
                    return;
            }}

        function goto_register() {
            setTimeout("window.location.href = '../register/'", 300);
        }

        function post(URL, PARAMS) {
            var temp = document.createElement('form');
            temp.action = URL;
            temp.method = "post";
            temp.style.display = "none";
            for (var x in PARAMS) {
                var obj = document.createElement("textarea");
                obj.name = x;
                obj.value = PARAMS[x];
                temp.appendChild(obj);
            }

            //获取csrf cookie并作为post数据递交达到{% csrf_token %}效果
            var csrftoken = getCookie('csrftoken');
            var csrf_token = document.createElement('input');
            csrf_token.name = 'csrfmiddlewaretoken';
            csrf_token.value = csrftoken;
            temp.appendChild(csrf_token);

            document.body.appendChild(temp);
            temp.submit();

            return false;
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>

</html>