{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block statics%}
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" lang="zh">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>查看面试者资料</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../../../static/css/zhb/css/inter_search_son.css" />
    <script src={% static '/css/zhb/js/JQuery_1.js' %}></script>

</head>
{% endblock%}

<body>
    <div id="list">
        <table>
            <colgroup><col span="2" style="width: 100px;" /><col /></colgroup>
            <tr id="dd_dd">
                <td class="dd1">名字</td>
                <td class="dd2">学号</td>
                <td class="dd3">性别</td>
                <td class="dd4">学院</td>
                <td class="dd5">专业</td>
                <td class="dd6">面试时间</td>
                <td class="dd7">面试地点</td>
                <td class="dd8">面试方向</td>
                <td class="dd9">面试类型</td>
{#                <td class="dd0"></td>#}
            </tr>
        </table>
    </div>
    <div id="td_list">
        <table>
            {% for a in data_list %}
            <tr onclick="changeFather(this)">
                <td class="td1">{{ a.newname }}</td>
                <td class="td2">{{ a.newstudent_id }}</td>
                <td class="td3">{{ a.gender }}</td>
                <td class="td4">{{ a.college }}</td>
                <td class="td5">{{ a.major }}</td>
                <td class="td6">{{ a.time }}</td>
                <td class="td7">{{ a.interview_place }}</td>
                <td class="td8">{{ a.direction }}</td>
                <td class="td9">{{ a.evaluate }}</td>
{#                <td class="td0"></td>#}
            </tr>
            {% endfor %}
        </table>

    </div>
</body>
<script>
    function update(data_list){
        var data = {};
        data['csrfmiddlewaretoken'] = getCookie('csrftoken');
        data['direction'] = data_list['direction'];
        data['place'] = data_list['place'];
        data['time'] = data_list['time'];
        data['inter_type'] = data_list['inter_type'];
        data['student_id'] = data_list['student_id'];
        $.ajax({
                url: "/interview/search/",
                type: "POST",
                data:data,
                success:function(result){
                    document.getElementById('td_list').innerHTML = result;
                    window.parent.updatenumber({{ num }});
                },
                error:function(result){
                    document.getElementById('td_list').innerHTML = "获取失败";
                }
            })
    }

    function interviewed() {
        var data = {};
        data['csrfmiddlewaretoken'] = getCookie('csrftoken');
        $.ajax({
            url: "/interview/interviewed/",
            type: "POST",
            data: data,
            success:function(result){
                {#document.getElementById('td_list').innerHTML = result;#}
                document.getElementById('td_list').innerHTML = result;
            },
            error:function(result){
                document.getElementById('td_list').innerHTML = "获取失败";
            }
        })
    }

    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function changeFather(tr) {
            var id = tr.childNodes[3].innerText;
            window.parent.change(id)
        }
</script>

</html>