<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        {% csrg_token %}
        <p>标题</p>
        <p>作者</p>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <script>
            CKEDITOR.replace('content',{
                uiColor:'#9AB8F3',
                "filebrowserUploadUrl":"/uploadFiiles",
                "image_previewText":"",
            })
        </script>
        <nav>
            <ul class="pager">
                <li><input type="submit" value="提交"></li>
            </ul>
        </nav>
    </form>

</body>
</html>