<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    a{
        color: black;
    }
    div{
        height: 90px;
        margin: auto;
    }
</style>
<body>
    <div class="content" align="center">
        <div><label><a href="">修改个人信息</a></label></div>
        <div><label><a href="">填写/修改申请书</a></label></div>
        <div><label><a href="">填写/修改面试时间</a></label></div>
        <div><label><a href="">查询面试结果</a></label></div>
    </div>
</body>
</html>