<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <form action="{% url 'personal' %}" method="post">
            {% csrf_token%}
            <div>
                <label>学号：<input type="text" value="{{ student.newstudent_id }}" name="newstudent_id"></label>
            </div>
            <div>
                <label>姓名：<input type="text" value="{{ student.newname }}" name="newname"></label>
            </div>
            <div>
                <label>性别：</label>
                <label><input name="gender" type="radio" value="男" {% if student.gender == '男' %} checked="checked" {% endif %}>男</label>
                <label><input name="gender" type="radio" value="女" {% if student.gender == '女' %} checked="checked" {% endif %}>女</label>
            </div>
            <div>
                <label>学院：</label>
                <label>
                    <select name="college">
                        <option {% if student.college == '学院1' %} selected="selected" {% endif %} value="1">学院1</option>
                        <option {% if student.college == '学院2' %} selected="selected" {% endif %}value="2">学院2</option>
                        <option {% if student.college == '学院3' %} selected="selected" {% endif %}value="3">学院3</option>
                        <option {% if student.college == '学院4' %} selected="selected" {% endif %}value="4">学院4</option>
                    </select>
                </label>
            </div>
            <div>
                <label>专业：</label>
                <label>
                    <select name="major">
                        <option value="专业1">专业1</option>
                        <option value="专业2">专业2</option>
                        <option value="专业3">专业3</option>
                        <option value="专业4">专业4</option>
                    </select>
                </label>
            </div>
            <div>
                <label>专业班级：<input type="text" value="{{ student.newclass }}" name="newclass"></label>
            </div>
            <div>
                <label>专业：</label>
                <label>
                    <select name="direction" >
                        <option value="开发">开发</option>
                        <option value="设计">设计</option>
                        <option value="秘书处">秘书处</option>
                    </select>
                </label>
            </div>
            <div>联系方式</div>
            <div>
                <label>手机号：<input type="text" value="{{ student.phone }}" name="phone"></label>
            </div>
            <div>
                <label>QQ：<input type="text" value="{{ student.qq }}" name="qq"></label>
            </div>
            <div>
                <label>邮箱：<input type="text" value="{{ student.email }}" name="email"></label>
            </div>
            <div>
                <input type="submit" value="提交">
            </div>
        </form>
    </div>
</body>
</html>