<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token%}
            <div>
                <label>学号：<input type="text" value="" name="newstudent_id"></label>
            </div>
            <div>
                <label>姓名：<input type="text" value="" name="newname"></label>
            </div>
            <div>
                <label>密码：<input type="password" value="" name="password"></label>
            </div>
            <div>
                <label>重复密码：<input type="password" value="" name="pwd"></label>
            </div>
            <div>
                <label>性别：</label>
                <label><input name="gender" type="radio" value="男">男</label>
                <label><input name="gender" type="radio" value="女">女</label>
            </div>
            <div>
                <label>学院：</label>
                <label>
                    <select name="college">
                        <option value="学院1" selected="selected">学院1</option>
                        <option value="学院2">学院2</option>
                        <option value="学院3">学院3</option>
                        <option value="学院4">学院4</option>
{#                        {% for key, value in apply_form.college %}#}
{#                            <option value="{{ value }}">{{ key }}</option>#}
{#                        {% endfor %}#}
                    </select>
                </label>
            </div>
            <div>
                <label>专业：</label>
                <label>
                    <select name="major">
                        <option value="专业1" selected="selected">专业1</option>
                        <option value="专业2">专业2</option>
                        <option value="专业3">专业3</option>
                        <option value="专业4">专业4</option>
                    </select>
                </label>
            </div>
            <div>
                <label>专业班级：<input type="text" value="" name="newclass"></label>
            </div>
            <div>
                <label>方向：</label>
                <label><input name="direction" type="radio" value="开发">开发</label>
                <label><input name="direction" type="radio" value="设计">设计</label>
                <label><input name="direction" type="radio" value="秘书处">秘书处</label>
            </div>
            <div>联系方式</div>
            <div>
                <label>手机号：<input type="text" value="" name="phone"></label>
            </div>
            <div>
                <label>QQ：<input type="text" value="" name="qq"></label>
            </div>
            <div>
                <label>邮箱：<input type="text" value="" name="email"></label>
            </div>
            <div>
                <label><input type="button" value="发送邮箱验证"></label>
            </div>
            <div>
                <label>验证码：<input type="text" value="" name="verification"></label>
            </div>
            <div>
                <input type="submit" value="注册">
            </div>
        </form>
    </div>
</body>
</html>