{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/lkl_css/login.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
</head>
<body>
<div id="header">
    <div id="header_top">
    </div>
    <div id="header_main">
        <b>登&nbsp;&nbsp;录</b><br><br>
        <a href="{% url 'freshman:register' %}" style="color: white;outline: medium">
        没有账号 ？去注册&nbsp;&nbsp;
        <img src="{% static 'img/sorrow.png' %}" alt="" id="forward"></a>
    </div>
</div>
<div id="main">
    <p id="tip">登录你的账号</p>
    <p id="error" class="error"><br></p>
    <script>
        var error_dict = JSON.parse('{{ error|safe }}');
        var error = (error_dict["error"]);
        document.getElementById("error").innerText = error;
    </script>
    <div id="submit">
        <form action="{% url 'freshman:login' %}" method="post">
            {% csrf_token %}
            <input type="text" id="uid" placeholder="请输入学号" onfocus="this.placeholder=''" onblur="this.placeholder='请输入学号'" name="newstudent_id" value="{{ student_id }}"><br>
            <input type="password" id="pwd" placeholder="请输入密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入密码'" name="password"><br><br>
            <input type="submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录" id="button">
        </form>
    </div>
    <div id="foot_logo">
        <img src="{% static 'img/logo_two.png' %}" alt="" id="logo">
    </div>
</div>
</body>
</html>