{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'css/lkl_css/login.css' %}" type="text/css">
{#    引用百度存放的jQuery，可以不用自己下载#}
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script type="text/javascript" src="{% static 'js/lkl_js/functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lkl_js/page_jumps.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
</head>
<body>
<div id="header">
    <div id="header_top">
        <!--<a href="http://www.baidu.com"><img src="../img/组%203@2x.png" alt="" id="back"></a>-->
    </div>
    <div id="header_main">
        <b>注&nbsp;&nbsp;册</b><br><br>
        <a href="{% url 'freshman:login' %}" style="color: white;outline: medium">
        已有账号 ？去登录&nbsp;&nbsp;
        <img src="{% static 'img/sorrow.png' %}" alt="" id="forward"></a>
    </div>
</div>
<div id="main">
    <p id="tip">注册你的账号</p><br>
    <div class="selected" hidden id="college_list">
    <!--<label class="tip">请选择学院</label>-->
        <label>
           <select name="college" class="select_list" id="college" onchange="get_major()">
                <option value="" selected="selected" class="tip" disabled>请选择学院</option>
                {% for college in colleges %}
                    <option value="{{ college }}">{{ college }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="selected" hidden id="major_list">
        <!--<label class="tip">请选择专业</label>-->
        <label>
            <select name="major" class="select_list" id="major">
                <option value="" selected="selected" class="tip" disabled>请选择专业</option>
            </select>
        </label>
    </div>
    <div id="submit">
        <form action="">
            <input type="text" id="name" placeholder="请输入姓名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入姓名'" name=""><br>
            <input type="number" id="uid" placeholder="请输入学号" onfocus="this.placeholder=''" onblur="this.placeholder='请输入学号'" name=""><br>
            <input type="password" id="pwd" placeholder="请输入密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入密码'" name=""><br>
            <span id="gender_tip" class="tip">请选择性别</span>&nbsp;
            <input type="radio" value="男" name="gender" hidden id="male">
            <label class="male_icon" for="male"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="female" value="女" name="gender" hidden>
            <label class="female_icon" for="female"></label>
            <br>
            <div class="main_footer">
                <input type="button" value="下&nbsp;&nbsp;一&nbsp;&nbsp;步" id="process" onclick="FirstToSecond()"><br>
                <img src="{% static 'img/第一页.svg' %}" alt="" class="page">
            </div>
        </form>
    </div>
</div>
</body>
</html>