{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/zxf_css/data.css' %}">
    <script type="text/javascript" src="{% static 'js/lkl_js/functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zxf_js/data.js' %}"></script>
</head>
<body>
<div id="head">
    人数:<input type="text" id="num"/>
    <input type="button" value="生成模拟数据" onclick="getPostNum()"><b>请确定有学院专业表</b>
</div>

<div id="time_table">
    <span>例如：9月1日  10:00-12:00</span>
    <div id="date1_div" class="appoint_time">
        日期:
        <input type="text" class="date" value="09-27"/><br/><br/>
        时间:
        <input type="text" class = "text" value="08:00-10:00"/>
        <input type="text" class = "text" value="10:00-12:00"/>
        <input type="text" class = "text" value="14:00-16:00"/>
        <input type="text" class = "text" value="16:00-18:00"/>
        <input type="text" class = "text" value="19:00-21:00"/>
        <input id="date1" type="button" value="增加" onclick="addTime(this)"/><br/>
    </div>
    <div id="date2_div" class="appoint_time">
        日期:
        <input type="text" class="date" value="09-28"/><br/><br/>
        时间:
        <input type="text" class = "text" value="08:00-10:00"/>
        <input type="text" class = "text" value="10:00-12:00"/>
        <input type="text" class = "text" value="14:00-16:00"/>
        <input type="text" class = "text" value="16:00-18:00"/>
        <input type="text" class = "text" value="19:00-21:00"/>
        <input id="date2" type="button" value="增加" onclick="addTime(this)"/><br/>
    </div>
    <div id="date3_div" class="appoint_time">
        日期:
        <input type="text" class="date" value="09-29"/><br/><br/>
        时间:
        <input type="text" class = "text" value="08:00-10:00"/>
        <input type="text" class = "text" value="10:00-12:00"/>
        <input type="text" class = "text" value="14:00-16:00"/>
        <input type="text" class = "text" value="16:00-18:00"/>
        <input type="text" class = "text" value="19:00-21:00"/>
        <input id="date3" type="button" value="增加" onclick="addTime(this)"/><br/>
    </div>
    <div id="date4_div" class="appoint_time">
        日期:
        <input type="text" class="date" value="09-30"/><br/><br/>
        时间:
        <input type="text" class = "text" value="08:00-10:00"/>
        <input type="text" class = "text" value="10:00-12:00"/>
        <input type="text" class = "text" value="14:00-16:00"/>
        <input type="text" class = "text" value="16:00-18:00"/>
        <input type="text" class = "text" value="19:00-21:00"/>
        <input id="date4" type="button" value="增加" onclick="addTime(this)"/><br/>
    </div>
    <div id="date5_div" class="appoint_time">
        日期:
        <input type="text" class="date" value="09-31"/><br/><br/>
        时间:
        <input type="text" class = "text" value="08:00-10:00"/>
        <input type="text" class = "text" value="10:00-12:00"/>
        <input type="text" class = "text" value="14:00-16:00"/>
        <input type="text" class = "text" value="16:00-18:00"/>
        <input type="text" class = "text" value="19:00-21:00"/>
        <input id="date5" type="button" value="增加" onclick="addTime(this)"/><br/>
    </div>
    <div id="date6_div" class="appoint_time">
        日期:
        <input type="text" class="date" value="10-01"/><br/><br/>
        时间:
        <input type="text" class = "text" value="08:00-10:00"/>
        <input type="text" class = "text" value="10:00-12:00"/>
        <input type="text" class = "text" value="14:00-16:00"/>
        <input type="text" class = "text" value="16:00-18:00"/>
        <input type="text" class = "text" value="19:00-21:00"/>
        <input id="date6" type="button" value="增加" onclick="addTime(this)"/><br/>
    </div>
    <div id="date7_div" class="appoint_time">
        日期:
        <input type="text" class="date" value="10-02"/><br/><br/>
        时间:
        <input type="text" class = "text" value="08:00-10:00"/>
        <input type="text" class = "text" value="10:00-12:00"/>
        <input type="text" class = "text" value="14:00-16:00"/>
        <input type="text" class = "text" value="16:00-18:00"/>
        <input type="text" class = "text" value="19:00-21:00"/>
        <input id="date7" type="button" value="增加" onclick="addTime(this)"/><br/>
    </div>

    <input class="sbt" id="add_date" type="button" value="增加" onclick="addDate(this)"/><br/><br/>
    <input class="sbt" type="button" value="生成模拟预约时间" onclick="getAppointmentTime()"/><b></b>
    <br/>
    <br/>
    <input class="inter_sbt" type="button" value="生成面试预约时间" onclick="getAppointment()"/><b></b>
    <p id="p"></p>
</div>
<div id="data_img" style="border: solid 2px #a1a1b6;margin: 15px;padding: 15px;">
    <input type="button" value="生成数据图1:学院专业图" onclick="location.href='1/'">
    <input type="button" value="生成数据图2:方向男女比例图" onclick="location.href='2/'">
    <input type="button" value="生成数据图3:待定">
</div>
</body>
</html>